<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ECE 2305 | Project</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">

      <div class="col-md-12">
        {% for item in data %}
          <li>Room: {{ item[0] }}</li>
        {% endfor %}
      </div>

      <div class="col-md-12">
        <svg width="1200" height="800" style="background: orange">
          <!-- John's Room -->
          <rect width="300" height="200" x="400" y="50" style="fill:rgba(255,255,255, 1.0);stroke-width:5;stroke:rgb(0,0,0)" />
          <text x="500" y="160" fill="black" font-size="24">Bedroom</text>

          <!-- Hallway -->
          <rect width="75" height="300" x="425" y="250" style="fill:rgba(255,255,255, 1.0);stroke-width:5;stroke:rgb(0,0,0)" />
          <text x="550" y="250" fill="black" font-size="24" transform="rotate(90,450,250)">Hallway</text>

          <!-- Bathroom -->
          <rect width="200" height="100" x="500" y="250" style="fill:rgba(255,255,255, 1.0);stroke-width:5;stroke:rgb(0,0,0)"></rect>
          <text x="540" y="310" fill="black" font-size="24">Bathroom</text>

          <!-- Common Area -->
          <rect width="200" height="150" x="500" y="350" style="fill:rgba(255,255,255, 1.0);stroke-width:5;stroke:rgb(0,0,0)"></rect>
          <text x="530" y="430" fill="black" font-size="24">Living Room</text>

          <!-- Kitchen -->
          <rect width="300" height="200" x="400" y="550" style="fill:rgba(255,255,255, 1.0);stroke-width:5;stroke:rgb(0,0,0)" />
          <text x="500" y="660" fill="black" font-size="24">Kitchen</text>

          <!-- John's door -->
          <rect width="35" height="7" x="445" y="247" style="fill:rgb(255,255,255);"></rect>

          <!-- Bathroom door -->
          <rect width="7" height="35" x="496" y="285" style="fill:rgb(255,255,255);"></rect>

          <!-- Common area door -->
          <rect width="7" height="145" x="496" y="353" style="fill:rgb(255,255,255);"></rect>

          <!-- Entry door -->
          <rect width="7" height="35" x="422" y="353" style="fill:rgb(255,255,255);"></rect>

          <!-- Kitchen door -->
          <rect width="35" height="7" x="445" y="547" style="fill:rgb(255,255,255);"></rect>
        </svg>
      </div>
    </div>


    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
